*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    width: 100%;
    height: 825px;
    background: #0c192c;  
    background: -webkit-linear-gradient(to right, hsla(226, 50%, 31%, 0.363), hsla(226, 50%, 31%, 0.363)), url('https://wcselectric.net/home/wp-content/uploads/2023/11/contact.jpeg');
    background: linear-gradient(to right, hsla(209, 62%, 23%, 0.363), hsla(192, 82%, 37%, 0.678)), url('https://wcselectric.net/home/wp-content/uploads/2023/11/contact.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 5%;
padding-right: 5%;
font-weight: bold;

}

.TEXTO{
    font-size: 40px;
    color: white;
}

.lista ul li{
    display: inline-block;
    padding: 0px 20px;
    border-style: solid;
    border-color: rgb(88, 43, 131);
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    border-color: transparent;
}

.lista ul li:hover{
    transition: 0.4s;
    background-color: rgb(88, 43, 131);
    color: white;
}

.colores{
    color: white;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

body{
    background: #0c192c;
}


#conta{
    margin-top: 11%;
    color: white;
    font-size: 70px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: none;
}

#conta:hover{

    background-color: blueviolet;
    transition: 0.5s;
}

#contactanos{
    display: flex;
    justify-content: center;
    align-items: center;

}

#formulario1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-top: 6%;

}

form{
    text-align: center;
    padding: 5%;
}

fieldset{
    width: 80%;
    height: 1030px;
    background: #0c192c;  
    background: -webkit-linear-gradient(to right, hsla(226, 50%, 31%, 0.363), hsla(226, 50%, 31%, 0.363));
    background: linear-gradient(to right, hsla(209, 62%, 23%, 0.363), hsla(192, 82%, 37%, 0.678)); 
    padding-bottom: 2%;
    border-radius: 10px 10px 10px 10px;
    
}
legend{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"]
  {
    font-size: 20px;
    margin: 2%;
    width: 60%;
    height: 70px
}


textarea{
    width: 60%;
    height: 200px
    
}


input[type="submit"] {
    margin-top: 5%;
    height: 70px; 
    width: 150px;
    font-size: 20px;
  }

  input[type="submit"]:hover{
    background-color: blueviolet;
    transition: 0.5s;
  }



footer {
    background-color: #0d0c1d; 
    padding: 2rem 0;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.footer-info,
.footer-redes {
    flex: 1;
    text-align: center;
}

.footer-info h3,
.footer-redes h3 {
    color: #a69cac; 
}

.footer-info p {
    margin: 0.5rem 0;
    color: white;
}

.footer-redes img {
    width: 30px;
    margin: 0 0.5rem;
}

.creditos {
    text-align: center;
    margin-top: 1rem;
}

.creditos p {
    margin: 0;
}

.titulo{
    margin-top: 9%;
}

.img{
    margin-top: 5%;
}

.contenido{
    font-size: 25px;
}
