nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    
    }
    
    .TEXTO{
        font-size: 40px;
        color: white;
    }
    
    .lista ul li{
        display: inline-block;
        padding: 0px 20px;
        border-style: solid;
        border-color: rgb(88, 43, 131);
        border-radius: 10px 10px 10px 10px;
        margin-left: 20px;
        border-color: transparent;
    }
    
    .lista ul li:hover{
        transition: 0.4s;
        background-color: rgb(88, 43, 131);
        color: white;
    }
    
    .colores{
        color: white;
    }
    a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }





body {
    background: #0c192c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 600px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
  width: 100%;
  height: auto;
}

.card-content{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn { 
    display: inline-block;
    padding: 16px 16px ;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #f0f0f0;
    margin-left: 35%;
}

.flexpadre
{
    display: flex;
    justify-content: start;
    margin: 20%;                    /*fran esto debes de ponerlo en el @media  a 40% top*/
    

}

.centered {
    text-align: center;
    color: white; 
}


.ccontainer { 
    width: 50%;
    position:relative;
    transform: translate(-50%,-50%);
    top: 85%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slides 16s infinite; 
}

@keyframes slides {
    0% {
        transform: translateX(0);
    }
    25% {
        transform:  translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform:translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

img {
    width: 100%;
}

.movimiento{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    width: 50%;
    height: 50%;
}

footer {
    background-color: #0d0c1d; 
    padding: 2rem 0;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.footer-info,
.footer-redes {
    flex: 1;
    text-align: center;
}

.footer-info h3,
.footer-redes h3 {
    color: #a69cac; 
}

.footer-info p {
    margin: 0.5rem 0;
    color: white;
}

.footer-redes img {
    width: 30px;
    margin: 0 0.5rem;
}

.creditos {
    text-align: center;
    margin-top: 1rem;
}

.creditos p {
    margin: 0;
}