@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 5%;
padding-right: 5%;
font-weight: bold;

}

.TEXTO{
    font-size: 40px;
    color: green;
}

.lista ul li{
    display: inline-block;
    padding: 0px 20px;
    border-style: solid;
    border-color: rgb(88, 43, 131);
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    border-color: transparent;
}

.lista ul li:hover{
    transition: 0.4s;
    background-color: rgb(88, 43, 131);
    color: white;
}

.colores{
    color: white;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

body{
    background: #0c192c;
}


section{
    font-size: 40px;
    background-color: #0c192c;
    height: 50vh;
    display: flex;
   justify-content: center;
   align-items: center;


}

.contenedor{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .anillo{
    position: relative;
    width: 300px;
    height: 300px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top:4px solid rgba(0, 128, 0, 0.781);

}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
}

.contenedor .anillo::before{
    content: '';
    position: absolute;
    top: 50px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #0c192c;

    box-shadow: 0 0 0 5px rgba(95, 158, 160, 0.363),
    0 0 0 10px rgba(95, 158, 160, 0.37),
    0 0 0 20px rgba(95, 158, 160, 0.349),
    0 0 0 20px #0c192c52,
    0 0 0 50px #0c192c60;
}



.contenedor .anillo:nth-child(3){
    position: absolute;
    top: -66.66px;
    animation: animate3 4s linear infinite;
    border-top: 4px solid palevioletred;
    border-left: 4px solid greenyellow;
}

@keyframes animate3
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
}

.contenedor .anillo:nth-child(2){

    animation: animate2 4s linear infinite;
    border-top: 4px solid rgb(255, 196, 0);
    border-left: 4px solid rgb(47, 102, 255);
}

@keyframes animate2
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
}


.contenedor .anillo:nth-child(1){

    animation: animate2 4s linear infinite;
    border-top: 4px solid rgb(102, 250, 238);
    border-left: 4px solid rgb(255, 54, 47);
}

#CIMATXT{
    z-index: 2;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contenedor3{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-left: 20%;
    margin-top: 16%;

}
.tarjeta{
    width: 200%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
  
}

.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}

.tarjeta img{
    width: 100%;
    height: 300px;
}

footer {
    background-color: #333; 
    padding: 2rem 0;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.footer-info,
.footer-redes {
    flex: 1;
    text-align: center;
}

.footer-info h3,
.footer-redes h3 {
    color: #2ecc71; 
}

.footer-info p {
    margin: 0.5rem 0;
    color: white;
}

.footer-redes img {
    width: 30px;
    margin: 0 0.5rem;
}

.creditos {
    text-align: center;
    margin-top: 1rem;
}

.creditos p {
    margin: 0;
}

