@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 5%;
padding-right: 5%;
font-weight: bold;

}

.TEXTO{
    font-size: 40px;
    color: white;
}

.lista ul li{
    display: inline-block;
    padding: 0px 20px;
    border-style: solid;
    border-color: rgb(88, 43, 131);
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    border-color: transparent;
    cursor: pointer;
}

.lista ul li:hover{
    transition: 0.4s;
    background-color: rgb(88, 43, 131);
    color: white;
}

.colores{
    color: white;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

body{
    background: #0c192c;
}

section{
    width: 100%;
    display: flex;
    max-width: 1675px;
    margin-left: 12%;
    margin-top: 16%;
    
}

.tarjeta1{
    width: 40%;
    margin: 0px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    background:   #000a23;
    box-shadow: 0px 1px 10px rgba(11, 45, 77, 0.925);
    cursor: default;
    color: #fff;

}

.cuerpo {
    display: flex;
    justify-content: space-between;
}

.txtInicio {
    color: #fff;
    margin: 120px 120px 0px 120px;
    font-size: xx-large;
    text-align: justify;
}


.img  {
    width: 30%;
    margin: 0 120px 0px 0px;
}



.tarjeta2{
    width: 40%;
    margin: 0px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    background:   #000a23;
    color: #fff;
    box-shadow: 0px 1px 10px rgba(11, 45, 77, 0.925);
    cursor: default;


}
.tarjeta3{
    width: 40%;
    margin: 0px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    background:   #000a23;
    color: #fff;
    box-shadow: 0px 1px 10px rgba(11, 45, 77, 0.925);
    cursor: default;
    height: 650px;

}

.integrantes
{
    display: flex;
   
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    
}

.img-inte
{ 
    height: 70%;
    width: 100%;
    display: flex;
    max-width: 1675px;
    margin-left: 0%;
    margin-top: 0%;
}

.contenido1{
    font-size: 25px;
   
}


.tarjeta2 p {
    margin: 20px;
}

.tarjeta2 h3 {
    margin: 20px;
    text-align: center;
}

.tarjeta1 h3 {
    margin: 20px;
    text-align: center;
}



.tarjeta1 p {
    margin: 20px;
}


.tarjeta1 img{
    width: 100%;
    height: 300px;
}

.tarjeta2 img{
    width: 100%;
    height: 300px;
}

footer {
    background-color: #0d0c1d; 
    padding: 2rem 0;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.footer-info,
.footer-redes {
    flex: 1;
    text-align: center;
}

.footer-info h3,
.footer-redes h3 {
    color: #a69cac; 
}

.footer-info p {
    margin: 0.5rem 0;
    color: white;
}

.footer-redes img {
    width: 30px;
    margin: 0 0.5rem;
}

.creditos {
    text-align: center;
    margin-top: 1rem;
}

.creditos p {
    margin: 0;
}

.titulo{
    margin-top: 9%;
}

.img{
    margin-top: 5%;
}

.contenido{
    font-size: 25px;
}


































